@font-face {
    font-family: Medinaa;
    src: url('https://cdn.discordapp.com/attachments/803375516454617098/873697475150643240/ds-digi.ttf');
}

* {
    font-family: Medinaa;
}

body {
    overflow: hidden;
}

.Speedometer-box {
    position: absolute;
    left: 50%;
    bottom: 1vw;
    transform: translate(-50%);
    width: 10vw;
    height: 4.5vw;
    background-color: rgba(0, 0, 0, .4);
    border: .1vw solid rgb(0,0,255);
    border-radius: .4vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5);
}

.text-velocity {
    position: absolute;
    color: rgba(185, 13, 228, 0.7);
    opacity: .8;
    font-size: 4vw;
    left: .11vw;
    bottom: -.3vw;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.4);
}

.text-velocity2 {
    position: absolute;
    color: rgba(0, 0, 0, .4);
    font-size: 4vw;
    left: .11vw;
    bottom: -.3vw;
    text-shadow: .2vw .1vw .2vw rgba(0, 0, 0, .5);
}

.seatbelt {
    position: absolute;
    fill: white;
    width: 12%;
    right: -2vw;
    top: 50%;
    transform: translateY(-50%);
}

.text-fuel {
    position: absolute;
    font-size: .82vw;
    right: 2vw;
    bottom: 50%;
    transform: translateY(50%);
    opacity: .8;
    color: rgb(190, 190, 190);
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.4);
}

.text-car {
    position: absolute;
    font-size: .82vw;
    right: 2vw;
    bottom: 20%;
    transform: translateY(50%);
    opacity: .8;
    color: rgb(190, 190, 190);
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.4);
}

.text-shift {
    position: absolute;
    font-size: .82vw;
    right: 2vw;
    top: 22.5%;
    transform: translateY(-50%);
    opacity: .8;
    color: rgb(190, 190, 190);
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.4);
}

.fuel {
    position: absolute;
    font-size: .85vw;
    right: .4vw;
    bottom: 50%;
    transform: translateY(50%);
    color: rgb(190, 190, 190);
}

.limiter {
    position: absolute;
    font-size: .85vw;
    right: .4vw;
    bottom: 80%;
    transform: translateY(50%);
    color: rgb(190, 190, 190);
}

.car {
    position: absolute;
    font-size: .85vw;
    right: .4vw;
    bottom: 20%;
    transform: translateY(50%);
    color: rgb(190, 190, 190);
}

.rpm {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: .6vh;
    background-color: rgb(255, 255, 255);
    opacity: .8;
    transition: .5s;
}

.rpm2 {
    overflow: hidden;
    position: absolute;
    height: .25vw;
    width: 5.4vw;
    left: .4vw;
    top: .8vw;
    border-radius: .4vw;
    background-color: rgba(0, 0, 0, .3);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}

.corta {
    position: absolute;
    width: 1.1vw;
    left: -2vw;
    top: 50%;
    fill: white;
    transform: translateY(-50%);
}

.larga {
    position: absolute;
    width: 1.1vw;
    left: -2vw;
    top: 50%;
    fill: white;
    transform: translateY(-50%);
}

.shift {
    position: absolute;
    width: .85vw;
    right: 2.2vw;
    top: 19%;
    transform: translateY(-50%);
}

.parpadea {
    animation: parpadea 1.5s infinite;
}

.sirens {
    animation: sirens 1s infinite;
}

@keyframes parpadea {
    0%{opacity: 100%;}
    50%{opacity: 0%;}
    100%{opacity: 100%;}
}

@keyframes sirens {
    0%{border: 2px solid rgb(0,0,255);}
    50%{border: 2px solid rgb(255,0,0);}
    100%{border: 2px solid rgb(0,0,255);}
}